.THIS.h1 {
    background-color:rgba(0, 0, 0, 0) !important;
    text-align:center !important;
    font-size:3.5rem !important;
    font-weight:bold !important;
    color: black !important;
    filter: drop-shadow(0 0 0.75rem black) !important;
}
.THIS.bPageBlock {
    background: #B0E0E6 !important;
    background-color:rgba(0, 0, 0, 0) !important;
}
.THIS.column {
    background-color: blanchedalmond;
    font-size: 13pt;
}
.THIS.column:hover {
    color: black;
}
.THIS.productForm {
    opacity: 0.75 !important;
    color: white;
    background-color:rgba(0, 0, 0, 0) !important;
}
.THIS.columnTitle {
    
    font-weight: bold;
    font-size:16pt;
    background: #B0E0E6;
    width:100%;
    border:4px solid black;
    padding:8px;
    border-radius:8px;
}
.THIS.slds-button_neutral:hover {
    background-color: yellow !important;
    color: black !important;
}

.THIS.body {
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/da705069-91b5-41cb-86f3-86a585c6fdf3/bvlatuR/std/2880x1800/MX-Hero-Desktop.jpg) !important;
    background-position: 50% 50% !important;
    background-size : auto auto !important;
    background-attachment : scroll !important;
    background-repeat : no-repeat !important;
    overflow :hidden !important;
}