.THIS.body {
    background-position: 50% 50% !important;
    background-size : auto auto !important;
    background-attachment : scroll !important;
    background-repeat : no-repeat !important;
    overflow :hidden !important;
}