.THIS {
}

.THIS.div1 {
  background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/da705069-91b5-41cb-86f3-86a585c6fdf3/bvlatuR/std/2880x1800/MX-Hero-Desktop.jpg) !important;
  background-position: 50% 50% !important;
  background-size: auto auto !important;
  background-attachment: scroll !important;
  background-repeat: no-repeat !important;
  
}

.THIS .div2 {
  background: #B0E0E6 !important ;
  border-top: 4px solid #c9c91e !important ;
  width: 100%;
  height: 30%;
  opacity: 0.8 !important;
}