.THIS {
    font-family:Arial;
}

.THIS .productHeader {
    color:white;
    text-align:center;
}

.THIS .featuredProduct {
    color:white;
    font-size:20px;
    text-align:center;
}

.THIS .slds-carousel {
   margin: 10px;
}